<div class="content" role="main">
    <div>
        <h2>Cadastrar Novo Livro</h2>
        <form [formGroup]="formGroup">

            <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field>
                <mat-label>Titulo</mat-label>
                <input matInput type="text" formControlName="titulo">
                </mat-form-field>
                <br/>
                <mat-form-field>
                <mat-label>Paginas</mat-label>
                <input matInput type="number" formControlName="paginas">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <mat-label>Autor</mat-label>
                    <input matInput type="text" formControlName="autor">
                </mat-form-field>
            </mat-card-content>
            </mat-card>
        </form>
        <button type="button" mat-raised-button color="primary" style="text-align: center; margin-top: 20px;" (click)="novo()">Cadastrar</button>
    </div>    
    <h2>Lista de Livros Cadastrados</h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="paginas">
            <th mat-header-cell *matHeaderCellDef> Paginas </th>
            <td mat-cell *matCellDef="let element"> {{element.paginas}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef> Autor </th>
            <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
        </ng-container>

        <ng-container matColumnDef="reservado">
            <th mat-header-cell *matHeaderCellDef> Reservado </th>
            <td mat-cell *matCellDef="let element"> {{element.reservado}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element"> 
                <button type="button" mat-raised-button color="primary" style="text-align: center; margin-left: 20px;" [disabled]="element.reservado" (click)="reservar(element.titulo)">Reservar</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>